p{
margin-left: 20px;
margin-top: 20px;
font-family: fantasy;
}
body{
    background-image: url(gettyimages-143963291-2048x2048.jpg); 
}
.navbar {

font-size: large;
    font-family: fantasy;
    background-color: azure;
}